[Desktop Entry]
Name=Power Menu
Comment=Sleep, Reboot or Shutdown
Exec=/home/bean/.local/bin/sway-power
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
